.nav{
    /* 스크롤을 해도 위치를 고정시키고 */
    position: fixed;
    /* 위치는 가장 아래쪽에 */
    bottom:0;
    /* 가로 배치를 동일하게 */
    width: 100%;
    background-color: #f9f9fa;
    padding:20px 50px;
    /* padding으로 인해 아이콘 일부가 잘릴때(?) box사이즈를 변경하지 말아주세요*/
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list{
    display:flex;
    justify-content: space-between;
}

.nav__link{
    position:relative;
    color:#2e363e;
}

.nav__notification{
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__notification2{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display:flex;
    position: absolute;
    left: 30px;
}